.header {
	color: darkmagenta;
	padding-left: 15px;
}

.section {
	background-color: rgb(239, 226, 210);
	color: rgb(2, 81, 2);
	border-radius: 20px;
}

.section__header {
	background-color: darkgreen;
	color: rgb(131, 211, 186);
	max-width: fit-content;
	border-radius: 20px;
	padding: 6px;
	position: relative;
}

.section__text {
	padding-left: 6px;
}

.article__header {
	color: rgb(155, 87, 15);
	background-color: rgb(192, 146, 100);
	max-width: fit-content;
	border-radius: 20px;
	padding: 6px;
	position: relative;
}

.footer {
	padding: 8px;
	background-color: rgba(201, 225, 140, 0.874);
	border-top: dashed;
}

.navigation {
	padding: 15px;
	background-color: rgba(201, 225, 140, 0.874);
}

.navigation__link {
	color: rgb(19, 78, 115);
}

.image {
	padding: 6px;
	border-radius: 20px;
}

.image__size {
	width: 500px;
	height: 600px;
}