main {
	background: #fefefe;
}

h1 {
	color: darkmagenta;
}

h2 {
	color: #1460AA;
}

.red_class {
	color: red
}

#music {
	background: lightgray;
}

a {
	color: lightblue;
}

section a {
	color: inherit;
}

.my-article {
	color: hotpink;
}

.my-article p {
	background: lightgreen;
	color: darkviolet;
}

.about {
	color: rgb(130, 10, 30);
}